.divPpal {
	margin-right: 0;
	margin-left: 0;
	--bs-gutter-x: 0;
}

.divPpal,
.navPpal,
.bntNav {
	position: relative;
}

ul.list-group > li {
	color: #fff;
	text-decoration: none;
	list-style: none;
}

ul.list-group {
	margin-top: 40px;
}

.text-white {
	color: green;
}

.login {
	display: flex;
	align-items: center;
	height: 100vh;
}

.btnToggle {
	position: fixed;
	margin-top: -1px;
}

.menuLat {
	position: absolute;
	height: 100%;
	z-index: 5;
}

.menuLat .menu {
	position: fixed;
	height: 100%;
	min-height: 100vh;
}

.divInfo {
	padding: 0;
	overflow: hidden;
}

.imgDefault {
	width: 47px;
}

.div1,
.div3,
.div4 {
	height: 150px;
}

.div2 {
	height: 310px;
}

@media (min-width: 768px) {
	.menuLat {
		position: relative;
	}
	.menuLat .menu {
		position: fixed;
	}
	.btnNav,
	.svgIcon {
		display: none;
	}
}

@media (max-width: 767px) {
	.menuLatNone {
		display: none;
	}
}
